<!---theme start-header---->
<div class="header">
<div class="wrap">
	<div class="logo">
		<!-- also bind img <img [src]='getPath("logo.png")' title="pinbal" />-->
		<a class="nav-anchor" [routerLink]="['/Posts']"><img [src]='getPath("logo-travel.png")' title="pinbal" /><span class="logo-text">ravel post</span></a>
	</div>
	<div class="nav-icon">
		<a class="nav-anchor" [routerLink]="['/Write']" class="right_bt fa fa-3x fa-pencil-square-o" id="activator"><span> </span> </a>
	</div>	
	<div class="top-searchbar">
		<form>
			<input type="text" [(ngModel)] = 'txt' (keyup)="keyPressed($event)"  [ngModelOptions]="{standalone: true}" />
			<input type="submit" value=""  />
		</form>
	</div>
	<div class="userinfo">
		<div class="user">
			<ul>
				<li>
					<a href="#"><img [src]='getPath("user-pic.png")' title="user-name" /><span>Ipsum</span></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clear"> </div>
</div>
</div>
<!---//End-header---->


<section>
	<div class='container'>
		<router-outlet></router-outlet>
	</div>
</section>

<!-- Footer -->
<footer>
	<div class='container'>
		<hr />
		<div class="row">
			<div class="col-lg-12">
				<p class="text-center">Copyright &copy; Ng2 Simple Blog 2017</p>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>

</footer>