<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngFor='let navElement of navList'>
        <li>
          <a [routerLink]="['/', navElement]">{{navElement}}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!---theme start-header---->
			<div class="header" style="margin-top: 50px; ">
				<div class="wrap">
				<div class="logo">
          <!-- also bind img <img [src]='getPath("logo.png")' title="pinbal" />-->
					<a href="index.html"><img [src]='getPath("logo.png")' title="pinbal" /></a> 
				</div>
				<div class="nav-icon">
					 <a href="#" class="right_bt" id="activator"><span> </span> </a>
				</div>
				 <div class="box" id="box">
					 <div class="box_content">        					                         
						<div class="box_content_center">
						 	<div class="form_content">
								<div class="menu_box_list">
									<ul>
										<li><a href="#"><span>home</span></a></li>
										<li>
											<a href="https://w3layouts.com/preview/?l=/pinball-responsive-grid-style-blog-flat-web-template/" target="_blank">
												<span>About</span>
											</a>
										</li>
										<li><a href="https://w3layouts.com/preview/?l=/pinball-responsive-grid-style-blog-flat-web-template/" target="_blank"><span>Works</span></a></li>
										<li><a href="https://w3layouts.com/preview/?l=/pinball-responsive-grid-style-blog-flat-web-template/" target="_blank"><span>Clients</span></a></li>
										<li><a href="https://w3layouts.com/preview/?l=/pinball-responsive-grid-style-blog-flat-web-template/" target="_blank"><span>Blog</span></a></li>
										<li><a href="contact.html"><span>Contact</span></a></li>
										<div class="clear"> </div>
									</ul>
								</div>
								<a class="boxclose" id="boxclose"> <span> </span></a>
							</div>                                  
						</div> 	
					</div> 
				</div>       	  
				<div class="top-searchbar">
					<form>
						<input type="text" /><input type="submit" value="" />
					</form>
				</div>
				<div class="userinfo">
					<div class="user">
						<ul>
							<li><a href="#"><img [src]='getPath("user-pic.png")' title="user-name" /><span>Ipsum</span></a></li>
						</ul>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!---//End-header---->


<section>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</section>

<!-- Footer -->
<footer>
  <div class='container'>
    <hr />
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center">Copyright &copy; Ng2 Simple Blog 2017</p>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>

</footer>
