<div class="row fix-top">
  <!-- Blog Entries Column -->
  <div class="col-md-12" id="woodmark-compo" >    

    <div id="main" role="main" >
      <h1>test: {{ getLocation }}</h1>
      <ul id="tiles">
        <li *ngFor='let post of posts | locationFilter : getLocation'>
			        	<div [innerHTML]="post.mainPic | escapeHtml"></div>
			        	<div class="post-info">
			        		<div class="post-basic-info">
				        		<h4><a href="#"><a [routerLink]="['/PostDetails', post.id, post.username]">{{post.title}}</a></a></h4>
				        		<span><a href="#"><label> </label>{{post.location}} </a></span>
				        		 <p [innerHTML]="post.memo | escapeHtml"></p>
			        		</div>
			        		<div class="post-info-rate-share">
			        			<div class="rateit">
			        				<span> </span>
			        			</div>
			        			<div class="post-share">
			        				<span> </span>
			        			</div>
			        			<div class="clear"> </div>
			        		</div>
			        	</div>
			        </li>
      </ul>
    </div>

    <!-- First Blog Post -->
    <!--<div *ngFor='let post of posts | locationFilter : txtLocation'>
      <h2>
        <a [routerLink]="['/PostDetails', post.id, post.username]">{{post.title}}</a>
      </h2>
      <p [innerHTML]="post.mainPic | escapeHtml"></p>
      <p [innerHTML]="post.memo | escapeHtml"></p>
      <p class="lead">
        by: <a [routerLink]="['/PostDetails', post.id, post.username]"> {{post.username}}</a> <span>, location: {{post.location}} </span>
      </p>
      <p><span class="glyphicon glyphicon-time"></span> Posted on: {{post.createdDate}}</p>
      <hr>
      <p [innerHTML]="post.text | escapeHtml"></p>
      <hr>      
      <a class="btn btn-primary" [routerLink]="['/PostDetails', post.id, post.username]">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

      <hr>
    </div>-->

    <!-- Pager -->
    <!--<ul class="pager">
      <li class="previous">
        <a href="#">&larr; Older</a>
      </li>
      <li class="next">
        <a href="#">Newer &rarr;</a>
      </li>
    </ul>-->

  </div>

  

</div>
<!-- /.row -->

<div class="row fix-top">
  <div class="col-md-12 text-center">
    <span class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></span>
  </div>
</div>

<div class="row">

  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="well">
      <h4>Blog Search by Location:</h4>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)] = 'txtLocation'>
        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
        </button>
        </span>
      </div>
      <!-- /.input-group -->
    </div>

        

  </div>


</div>

<hr />

<!---start-content---->
<div class="content">
  <div class="wrap">
    
  </div>
</div>
